include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/oaipmh_unizar *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/oaipmh_unizar/migration *.ini *.py *.mako
